{% extends "mssql/mssql_base.html" %}
{% load staticfiles %}

{% block block_navigation %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mssql:index' %}">MSSQL</a></li>
      <li class="breadcrumb-item"><a href="{% url 'mssql:logging' %}">Logging</a></li>
      <li class="breadcrumb-item active" aria-current="page">Logging Details</li>
    </ol>
  </nav>
{% endblock block_navigation %}

{% block block_body %}
  <div class="container">
    <div class="card">
      <h5 class="card-header bg-success">Welcome to Logging Detail Page</h5>
      <div class="card-body">
        <h5 class="card-title text-primary">Logging details:</h5>
        <p class="card-text">
          <table class="table table-bordered table-striped dbinventorytable-detail">
            <tbody>
              <tr class="bg-transpart"><td>logId</td><td>{{logging_detail.logid}}</td></tr>
              <tr class="bg-light"><td>LogMessage</td><td>{{logging_detail.logmessage}}</td></tr>
            </tbody>
          </table>
          
          <p>
          <div class="container">
            <a href="{% url 'mssql:loggingupdate' pk=logging_detail.pk %}" class="btn btn-warning">Update</a>
            <a href="{% url 'mssql:loggingdelete' pk=logging_detail.pk %}" class="btn btn-danger">Delete</a>
          </div>
          </p>
        </p>
      </div>
    </div>
  </div>
{% endblock block_body %}